/**************TAG SELECTORS****************/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Sans+Pro:ital,wght@0,200;0,900;1,200;1,900&display=swap');

body {
  text-align: center;

}

h1{
font-family: 'Bangers', cursive;
font-size: 5rem;
margin: 50px auto 0 auto;

}

h2{
font-family: 'Bangers', cursive;
font-size: 2rem;
display: inline-block;

}

p{

}


div{
  padding: 20px;
}


hr{
  border: dotted #E6F533 6px;
  border-top: 30px;
  width: 25%;
  align: auto;
}

.top-container{
  background-color: #EAF6F6;
}

.middle-container{
  background-color: white;
}

.skills{
  background-color: white;

}
.moon_image{
  style: inline;
  width: 100px;
  height: 100px;

}
.bottom-container{
  background-color: #66BFBF;
}

.main_title{
  display: inline-block;

}
